{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/main.css') }}"> {% endblock %}

{% block body %}
<div class="flex-center">

    <a href="#">Новости</a>

    <a href="#">Статьи</a>

    <a href="#">Чек-листы</a>

    <a href="#">Правила</a>

    <a href="#">О нас / Контакты</a>

</div>

{% endblock %}
