<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Заголовок вкладки{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {% block head_javascripts %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <header>
      <a href="/main"><img src="img/logo.png" alt="logo"></a>
      <!-- <img src="img/logo.png" alt="logo"> -->

      <div class="travelTitle">
        <h1>Travel Blog</h1>
      </div>

      <div class="registr-end">
        {% if is_granted('ROLE_USER') %}
          <a href="{{ path('app_logout') }}">Выйти</a>
          <p>Аккаунт: {{ app.user.username }}</p>
          {% else %}
          <a href="/login">Вход</a>
          <a href="/registration">Регистрация</a>
        {% endif %}

        <!-- <button type="button" name="button">Вход</button> -->
        <!-- <a href="{{ path('app_logout') }}">Выйти</a> -->

      </div>

    </header>

    {% block body %}{% endblock %}

    <footer></footer>

    {% block body_javascripts %}{% endblock %}

  </body>
</html>
